body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  margin: 50px;
}

#note {
  position: absolute;
  min-height: 100px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 10px;
  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid thin rgba(0, 0, 0, .2);
    width: 100%;

    .left-top {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      div {
        margin-left: 5px;
        margin-right: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .handle:hover {
      cursor: pointer;
    }
  }
  .main-contents {
    p {
      word-wrap: break-word;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

#image-modal-container {
  display: flex;
  flex-direction: column;

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .modal-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 70px;
      border-radius: 5px;
      margin: 10px;

      &.cancel {
        background-color: #FFCCCB;
      }
      &.insert {
        background-color: #add8e6;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

ReactModal__Overlay {
  z-index: 1000;
}

}

#new-note-bar {
  margin-bottom: 20px;
  width: 70%;
  height: 60px;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .7);

  input {
    height: 60%;
    border: none;
    width: 65%;
    font-size: 1.5em;
    border-radius: .25em;
  }

  div {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 60%;
    border: solid thin white;
    border-radius: 3px;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

}

.boards-container {
  display: flex;
  flex-direction: row;
  
}
.board-thumb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  background: rgba(0, 0, 0, .6);
  color: white;
  border: solid thin white;

  &:hover {
    cursor: pointer;
  }
}

.close-note-board-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 200px;
  background-color: black;
  color: white;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }

}
